.taskbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 35%;
  height: 100px;
  background-color: rgb(162, 162, 167, 0.3);
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 1px black;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  background-color: transparent
}

img:hover {
  border-radius: 10px;
  margin-bottom: 35px;
  cursor: pointer;
  height: 150px;
  width: 150px;
  transition: 0.3s;
}

a:active {
  opacity: .5;
}

/* img:hover {
  height: 125px;
  width: 125px;
} */