.toolbar-header-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgb(162, 162, 167, 0.5);
  max-height: 10%;
  font-weight: bold;
}

.toolbar-about {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.toolbar-date-time {
  margin-right: 5px;
}

.toolbar-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
}

/* TODO: These probably should become buttons and need hover/click? effects. */
.toolbar-name, .toolbar-icon, .toolbar-file, .toolbar-edit, .toolbar-options {
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.toolbar-file, .toolbar-edit, .toolbar-options {
  font-weight: normal;
}

.toolbar-date, .toolbar-time {
  margin: 0 5px 0 5px;
}
