.window-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(162, 162, 167, 0.7);
  box-shadow: 5px 5px 5px grey;
}

.window-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background: rgba(226,226,222); /*TODO: Adjust theme colors later */
}

.window-title-wrapper {
  display: flex;
  font-weight: 600;
}

.window-buttons {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 0 10px;
}

.window-content-title, .window-content-body {
  margin: 0 25px 0 25px;
}

.window-content-body {
  font-size: 20px;
}

.dot-exit, .dot-min, .dot-max {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0 2px 0 0; 
}

.dot-exit { background-color: rgb(255, 49, 38);}
.dot-min { background-color: rgb(245, 194, 0);}
.dot-max { background-color: rgb(30, 195, 55);}