.work-history-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.work-company {
  padding-top: 10px;
}
.work-title {
  padding: 5px 0 10px 10px;
}

.work-desc {
  padding-left: 15px;
  font-size: 18px;
}

.work-date {
  font-size: 14px;
  font-weight: normal;
}

.work-resume-link {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0
}

a:hover {
  cursor: pointer;
  opacity: .7;
}
a:active {
  opacity: .5;
}

.work-title-wrapper {
  display: flex;
  font-weight: 600;
}

.work-window-title {
  padding: 0 2px 0 2px;
}